<header>
    <div class="container">
        <div class="left">
            <h3>BILLING</h3>
            <form action="">
                Full name
                <input type="text" name="" placeholder="Enter name">
                Email
                <input type="text" name="" placeholder="Enter email">
            </form>
            <h3>Total Amount : ${{total_sum}}</h3>
            <input type="submit" name="" value="Back To Cart" (click)="BackToMyCart()">
        </div>
        <div class="right">
            <h3>PAYMENT</h3>
            <form action="">
                Accepted Card<br>
                <img src="/assets/Payments/visa.png" width="50">
                <img src="/assets/Payments/masterCard.png" width="50">
                <br><br>

                Credit Card Number
                <input type="text" name="" placeholder="Enter card number">

                Exp month
                <input type="text" name="" placeholder="Enter Month">
                <div id="zip">
                    <label>
                        Exp year

                        <select>
                            <option>Choose Year..</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </label>
                    <label>
                        CVV 
                        <input type="text" name="" placeholder="Enter CVV">
                    </label>
                </div>
            </form>
            <input type="submit" name="" value="PAY" (click)="GoToPaymentProcessing()">
        </div>
    </div>
</header>