header{
    width:100vw;
    min-height: 100vh;
    background-color: rgb(191, 238, 238);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;
}
.left{
    flex-basis: 50%;
}
.right{
    flex-basis: 50%;
}
form{
    padding: 1rem;
}
h3{
    margin-top: 1rem;
    color: #2c3e50;
}

form input[type="text"]{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
}
form input[type="email"]{
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
}
#zip{
    display: flex;
    margin-top: 0.5rem;
}
#zip select{
    padding: 0.5rem 0.7rem;
    margin-top: 0.5rem;
}

input[type="submit"]{
    width: 100%;
    padding: 0.7rem 1.5rem;
    background-color:rgb(12, 25, 203);
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(119, 46, 255);
}

@media only screen and(max-width: 770px){
    .container{
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
}
input.ng-invald.ng-touched{
    border-color: red;
}
small{
    color: red;
}