.Fontstyles{
    text-align: center;
    font-family: "Trirong", serif;
 }
 .box{
    background-color:rgb(229, 234, 242);
    margin: 20px auto;
    width: 80vw;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .box {
             flex-direction: column;
             }
        }