<div class="container">
        <div class="course-card" *ngFor = "let course of courses">
              <div>
                  <img [src]="course.image" style="width:200px; height:140px;">
              </div>
              <div class="course-name"><h4>{{ course.name}}</h4></div>
              <div class="course-description"><p>{{course.description.slice(0, 80)}}...</p></div>
              <div class="details">
                  <div class="course-type" [ngStyle]="{color: course.type === 'Free' ? 'Green' : 'Red'}">{{course.type}}</div>
                  <div class="course-price" ><b>Price:</b> ${{course.price}}</div>
              </div>
              <div style="text-align: center;">
                <button class="buy-button" (click)="OnClickGoToSummaryPage(course.id)">BUY</button>
                <button class="course-button" (click)="OnClickRemove(course.id)">REMOVE</button>
            </div>
            
        </div>
      
 </div>